/**
**
**
* STATS INFO *
**
**
**/
.baseStats {
  width: 257px;
  margin-left: auto;
  margin: auto;
}

.statItem:not(:last-child) {
  margin-bottom: 10px;
}

.statItem .infoLabel {
  color: #111;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.statItem .progress {
  background-color: rgb(241, 241, 241);
  height: 5px;
}

.bar {
  display: block;
  height: 100%;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #111;
}

/* STATS NAME */
.hp {
  background-color: #a7db8d;
}

.attack {
  background-color: #ff5959;
}

.defense {
  background-color: #9db7f5;
}

.special-attack {
  background-color: #f39c12;
}

.special-defense {
  background-color: #8395a7;
}

.speed {
  background-color: #9b59b6;
}
