/**
**
**
* STATS INFO *
**
**
**/
.statsInfo table {
	text-align: right;
	width: 100%;
}

.statsInfo table tr {
	display: flex;
	justify-content: space-around;
}

.statsInfo table tr:not(:last-child) {
	margin-bottom: 8px;
	text-transform: uppercase;
}

.statsInfo table tr td:first-child {
	width: 32%;
}

.statsInfo table tr td:nth-child(2) {
	width: 13%;
	font-weight: 600;
}

.statsInfo table tr td:last-child {
	width: 53%;
}

@media(min-width: 768px) {
	.statsInfo table tr td:first-child {
		width: 106px;
		
	}
	
	.statsInfo table tr td:nth-child(2) {
		width: 50px;
	}
	
	.statsInfo table tr td:last-child {
		width: 257px;
	}	
}

/******* SKILL BAR *******/
.skillbar {
	background-color: rgb(241, 241, 241);
	height: 100%;
	width: 100%;
}

.bar {
	display: block;
	height: 100%;
}

.hp {
	background-color: #a7db8d;
}

.attack {
	background-color: #ff5959;
}

.defense {
	background-color: #9db7f5;
}

.special-attack {
	background-color: #f39c12;
}

.special-defense {
	background-color: #8395a7;
}

.speed {
	background-color: #9b59b6;
}