.card {
  background-image: url(../../assets/img/icon-logo-pokemon.png);
  background-position: 103px 11%;
  background-repeat: no-repeat;
  background-size: 83%;
  border-radius: 24px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px 16px;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 3px 3px 7px 1px rgba(3, 3, 3, 0.22);
  transform: translateY(-10px);
}

.content {
  position: relative;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.types {
  display: flex;
  flex-direction: column;
}

.types li {
  align-items: center;
  border-radius: 24px;
  box-shadow: 2px 2px 4px 1px rgba(3, 3, 3, 0.1);
  color: #fff;
  display: flex;
  filter: brightness(1.05);
  padding: 4px 8px;
  width: fit-content;
}

.types li img {
  width: 25px;
  height: 25px;
}

.types li:first-child {
  margin-bottom: 8px;
}

.content .identity {
  bottom: -5px;
  color: #f5f5f593;
  font-size: 18px;
  left: 0;
  position: absolute;
}

.thumb {
  align-items: flex-end;
  display: flex;
}

.thumb img {
  height: auto;
  max-width: 100%;
}
