.movesList {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-between;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.movesList::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
.movesList::-webkit-scrollbar {
  width: 4px;
  background: #f4f4f4;
}
.movesList::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.movesList li {
  margin: 5px;
  padding: 4px 8px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  box-shadow: 2px 2px 4px 1px rgba(3, 3, 3, 0.18);
}
