* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #ffcb05;
  color: #fff;
  margin: 0;
  font-family: cursive;
}

/* POKEMON TYPE COLOR */
.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #fc6b6e;
}

.grass {
  background-color: #68c725;
}

.electric {
  background-color: #ceb502;
}

.water {
  background-color: #41a9ff;
}

.ice {
  background-color: #81bbea;
}

.ground {
  background-color: #e2c36e;
}

.rock {
  background-color: #c8a048;
}

.fairy {
  background-color: #eda4ed;
}

.poison {
  background-color: #934293;
}

.bug {
  background-color: #a8b821;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #e43870;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #ba2f27;
}

.normal {
  background-color: #a9a878;
}

.ghost {
  background-color: #a5a0c0;
}

.dark {
  background-color: #252525;
}

.animateSlideRight {
  animation-name: slideRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

/***** ANIMATIONS *****/

@keyframes slideRight {
  from {
    transform: translateX(-75vh);
  }

  to {
    transform: translateX(0);
  }
}
